<div class="footer">
  <div class="footer-line">Laboratório de Emergência 2020</div>
  <a class="footer-line" href="{{ site.social['envelope-o'] }}" target="_blank">
    {{ site.social['envelope-o'] | replace:'mailto:','' }}
  </a>
  <!--
    <div class="footer-line">
      {% include social-icons.html %}
    </div>
  -->
</div>

{% if page.permalink == '/' %}
  <div class="footer">
    <div class="footer-line">Uma iniciativa em parceria entre:</div>
    <div class="footer-line footer-line-parcerias">
      {% for p in site.data.partners %}
        <a href="{{ p.link }}" target="_blank">
          <div class="footer-line parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/{{ p.image }}');"></div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}
