<p>
  Que tal se juntar a pessoas que acreditam na colaboração e na inovação para enfrentar essa epidemia? Que tal efetivamente ajudar a construir soluções?
</p>

<p>
  A <a href="https://silo.org.br" target="_blank">SILO ARTE E LATITUDE RURAL</a>  junto a 

  {% for p in site.data.partners %}
    {% unless p.name == 'Silo' %}
      <a href="{{ p.link }}" target="_blank">{{ p.name | upcase }}</a>,
    {% endunless %}
  {% endfor %}

  apresenta o Laboratório de Emergência, focado em iniciativas que pensam soluções frente a pandemia da COVID 19 para periferias e áreas rurais.
</p>
