<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
    {% include page-language.html %}
  </head>
  <body>
    {% include menu.html %}
    <div class="main-div">
      {% include title.html %}
      <section class="content-text content-container">
        <h2 class="list-title">{{ page.title }}</h2>
        {{ content }}

        <ul class="list">
          {% assign slug = page.title | slugify %}

          {% assign posts = site.pages |
                             where_exp:"post","post.url contains slug" |
                             where_exp:"post","post.url contains PAGE_LANGUAGE" |
                             where_exp:"post","post.url != page.url" %}

          {% for post in posts %}
            {% assign pCover = site.baseurl | append: '/' | append: post.cover %}
            <li><a class="" href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a></li>
          {% endfor %}
        </ul>
      </section>
      <section class="list-wrapper">
        <h2>{{ site.data.phrases.proponent[PAGE_LANGUAGE] }}</h2>
        <ul class="people-list">
          {% for person in page.proponent %}
            <li class="project-person">
              <a href="{{ person.url }}" target="_blank">{{ person.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <h2>{{ site.data.phrases.collaborators[PAGE_LANGUAGE] }}</h2>
        <ul class="people-list">
          {% for person in page.people %}
            <li class="project-person">
              <a href="{{ person.url }}" target="_blank">{{ person.name }}</a>
            </li>
          {% endfor %}
        </ul>
        {% include share.html %}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
